*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #0500ff;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  font-size: 10px;
  }

 .container {
    margin: auto;
    width: 100%;
  }

  .bustop {
    float: left;
    margin-left: 6%;
    height: 1.6em;
    width: 1.6em;
    margin-top: 2%;
  }

  .back{
    float: left;
    height: 2.5em;
    width: 2.5em;
    margin-top: 3%;
    margin-left: 3%;
  }

  .status{
    display: inline-block;
    background-color: #F2F4FF;
    width: 100%;
    height: 2em;
  }

  .status>p{
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: 600;
    margin-top: 2%;
  }

  .signal{
    float:left;
    padding-left: 2%;
    margin-top:2%;
  }

  .service{
    float: left;
    padding-left: 1%;
  }

  .wifi{
    float:left;
    padding-left: 1%;
    padding-top: 2%;
  }

  .time{
    margin-left: 45%;
  }

  .percent{
    float: right;
    padding-right: 1%;
  }

  .battery{
    float: right;
    padding-right: 2%;
    padding-top: 2%;
  }


  .icon{
    float: right;
    height: 2em;
    width: 2em;
    margin-right: 5%;
  }

  .icona{
    float:right;
    height: 2em;
    width: 2em;
    margin-right: 5%;
    transform: rotate(90deg);
  }

  .icone{
    float:right;
    height: 2.5em;
    width: 2.5em;
    margin-right: 5%;
    transform: rotate(90deg);
    margin-top: 7%;
  }

  .topper{
    height: 6.2em;
    background-color: #0500ff;
  }
  .top {
    display: inline-block;
    background-color: #88a0e0;
    border:.1em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-color: #88a0e0;
    width: 98%;
    margin-left: 1%;
    height: 3.2em;

    margin-top: 3em;
  }

  .top> h1 {
    color: #000000;
    font-weight: 900;
    font-size: 1.5em;
    margin-left: 13%;
    margin-top: 2.5%;
  }

  .dir{
    display: inline-block;
    height: 6.5em;
    width: 100%;
  }

  .dir> h1 {

    font-size: 3.2em;
    font-weight: bold;
    margin-left: 3%;
    margin-top: 6%;
  }

  .bus{
    display: inline-block;
    height: 6.5em;
    width: 100%;
    background-color: #fffdf5;
    color: #000000;
    border-bottom: 0.05em solid #0500ff;

  }

  .num{
    float: left;
    font-size:2.6em;
    font-weight:800;
    margin-left: 3%;
    margin-top: 6%;
    color: #0500ff;
  }

.nav{
  height: 4.5em;
  background-color: #FFFFFF;

}

.navtxt{
  display: block;
  color:#000000;
  font-size: 1.65em;
  font-weight: 700;
  margin-left: 40%;
  padding-top: 5%;
}

.big{
  display: block;
  font-size: 1.55em;
  font-weight: 600;
  margin-left:22%;
  letter-spacing: -0.045em;
}

.small{
  display: block;
  font-size: 1em;
  font-weight:600;
  margin-left:22%;
  margin-top: 5.5%;
  letter-spacing: -0.045em;
  }

.late{
  color:#FF3426;
}

.early{
  color:#0EBB57;
}


.map{
  display: block;
  height: 40em;
  width: 100%;
}

.addtl{
  display: inline-block;
  background-color: #88a0e0;
  height: 3em;
  width: 100%;
  color: #000000;
  font-weight: 600;
  font-size: 0.95em;
  letter-spacing: -0.05em;
}

.left{
  float: left;
  margin-left:3%;
  margin-top: 3%;
}

.right{
  float:right;
  margin-right:3%;
  margin-top: 3%;
}
