*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #0500ff;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  font-size: 10px;
  }

 .container {
    margin: auto;
    width: 100%;
  }

  .bustop {
    float: left;
    margin-left: 6%;
    height: 1.6em;
    width: 1.6em;
    margin-top: 2%;
  }

  .back{
    float: left;
    height: 2.5em;
    width: 2.5em;
    margin-top: 3%;
    margin-left: 3%;
  }

  .status{
    display: block;
    width: 37.5em;
  }

  .icon{
    float: right;
    height: 2em;
    width: 2em;
    margin-right: 5%;
  }

  .icona{
    float:right;
    height: 2em;
    width: 2em;
    margin-right: 5%;
    transform: rotate(90deg);
  }

  .icone{
    float:right;
    height: 2.5em;
    width: 2.5em;
    margin-right: 5%;
    transform: rotate(90deg);
    margin-top: 7%;
  }

  .topper{
    height: 6.2em;
    background-color: #0500ff;
  }
  .top {
    display: inline-block;
    background-color: #88a0e0;
    border:.1em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-color: #88a0e0;
    width: 96%;
    height: 3.2em;
    margin-left: 2%;
    margin-top: 3em;
  }

  .top> h1 {
    color: #000000;
    font-weight: 900;
    font-size: 1.5em;
    margin-left: 17%;
    margin-top: 3%;
  }

  .dir{
    display: inline-block;
    height: 6.5em;
    width: 100%;
  }

  .dir> h1 {

    font-size: 3.2em;
    font-weight: bold;
    margin-left: 3%;
    margin-top: 6%;
  }

  .bus{
    display: inline-block;
    height: 6.5em;
    width: 100%;
    background-color: #fffdf5;
    color: #000000;
    border-bottom: 0.05em solid #0500ff;

  }

  .num{
    float: left;
    font-size:2.6em;
    font-weight:800;
    margin-left: 3%;
    margin-top: 6%;
    color: #0500ff;
  }

.nav{
  height: 4.5em;
  background-color: #FFFFFF;

}

.navtxt{
  display: block;
  color:#000000;
  font-size: 1.65em;
  font-weight: 700;
  margin-left: 40%;
  padding-top: 5%;
}

.big{
  display: block;
  font-size: 1.55em;
  font-weight: 600;
  margin-left:30%;
  letter-spacing: -0.1em;
}

.small{
  display: block;
  font-size: 1em;
  font-weight:600;
  margin-left:30%;
  margin-top: 5.5%;
  letter-spacing: -0.05em;
  }

.late{
  color:#FF3426;
}


.map{
  display: block;
  height: 40em;
  width: 100%;
}

.addtl{
  display: inline-block;
  background-color: #88a0e0;
  height: 3em;
  width: 100%;
  color: #000000;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: -0.05em;
}

.left{
  float: left;
  margin-left:3%;
  margin-top: 2%;
}

.right{
  float:right;
  margin-right:3%;
  margin-top: 2%;
}
